.container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
    border-radius: 10px;
    font-size: 1.15em;
  }
  
  .container:hover,
  .active {
    background-color: rgb(251 207 232);
    font-weight: bold;
    color: rgb(219 39 119);
  }